chat_demandas
{
  "nodes": [
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "5a3f152b-b6fa-4a4f-89c9-2a3f4a001653",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -100,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "86quwzXztdXqevwQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "3281cc0e-251f-419f-a318-dcd1c3044070",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        720,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "86quwzXztdXqevwQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "1a32f79b-2371-4a2d-be89-02b0d3a2e022",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        860,
        1120
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "7f5e90c6-9fa0-410c-97bd-5f1b4e2c53ca",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        700,
        1120
      ],
      "credentials": {
        "openAiApi": {
          "id": "86quwzXztdXqevwQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Possui dados de uma planilha de demandas do ClickUp",
        "topK": 100
      },
      "id": "5d58fb12-3bf0-4f8b-b521-5cc5715a6597",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "14d6b5c8-53f6-485d-ad7f-14c3eb6f7f1a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        280
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dDVk_8YVdlkNeOB7ZPDdjR7CGRXEF7Q16pOKe3DWsY8/edit?gid=77709834",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "77c25f41-88d4-49b5-8a27-d431cca71b51",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        200,
        1000
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LJocQhGepUXSNtX4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1n_I3gF_Au6tzd_pCJr5kDDk61gJ4mPfg",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "90949435-33f8-4480-90e2-389f0315c4f8",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        900
      ],
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1n_I3gF_Au6tzd_pCJr5kDDk61gJ4mPfg",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "ff9fd8d2-edb8-4efc-b942-a582be170611",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        1120
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "9fa6f244-b9bf-4043-8cea-1abce52c7bd4",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        1000
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "ae5708ce-8f0d-4670-977d-683a8b79e2d0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "86quwzXztdXqevwQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "31054f7a-9e78-4071-bf15-bac5cbb988b5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        40,
        640
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "XUu2A67OhB0TNz1v",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cf212600-2341-4584-ba1b-03e6fbdb7a90",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        860,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "ac388b92-7e09-4096-985f-a7df5d7fd872",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        1000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "AseF89FU4YywJoYu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f66115ed-dab7-4888-b745-0341c599858d",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        1000
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 471.65806131093063,
        "width": 692.7866482806627
      },
      "id": "007e7145-f962-46f2-a8a6-16caf94d22bb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        340
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "1a8a0879-07c9-442e-b17a-6f624b18ff54",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        200,
        640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "127bb4a8-6472-4144-b4ae-616ba6fc797f",
              "leftValue": true,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b4a8986-0253-4bbf-b8ad-13bbf0b2e26d",
      "name": "Atualização automatica?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -580,
        900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab7206cd-48bb-4789-976c-32c33e0b794f",
              "name": "id",
              "value": "1dDVk_8YVdlkNeOB7ZPDdjR7CGRXEF7Q16pOKe3DWsY8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "211293f3-f50c-4968-b9c7-8720afddf5e9",
      "name": "ID manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -540,
        1320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "9672280b-a4ab-460c-b7d4-a916151621b2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -740,
        1320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Você é um Agente de IA, chamado Tasky, projetado para auxiliar o usuário na consulta e organização de informações. Sua principal função é utilizar ferramentas, como a base de dados vetorial para responder perguntas e realizar tarefas com eficiência e precisão.\n\nVocê tem acesso à base user_documents. Ela contém dados das demandas da equipe, vindas diretamente do ClickUp, use como fonte de suas informações e passe para o usuário de acordo com a informação pedida pelo mesmo.\n\nOrientações:\nSeja claro e organizado ao apresentar os dados, garantindo que as informações sejam precisas e úteis.\nAntes de qualquer consulta, assegure-se de que está utilizando a fonte correta, com base na pergunta do usuário.\n\nAqui está a data/hora atual: {{ $now.format('DD/MM/YYYY HH:mm') }}\n\nDe sugestões de perguntas que o usuário pode fazer, para melhorar a eficiencia da sua resposta.\n\nSeu objetivo é fornecer uma experiência prática e eficiente, utilizando os dados disponíveis para solucionar dúvidas e ajudar o usuário a gerenciar informações.\n\n# Restrição\nResponsa somente perguntas sobre as Demandas do Clickup"
        }
      },
      "id": "a28b924b-3b6a-4e3a-abdf-2593d14af3a2",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        0,
        420
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar?",
        "options": {
          "allowedOrigins": "*",
          "inputPlaceholder": "Digite aqui sua dúvida...",
          "loadPreviousSession": "memory",
          "showWelcomeScreen": true,
          "subtitle": "Sou a IA do Marketing, mais conhecido como Tasky💜. Neste Chat tenho informções sobre as demandas📈 da equipe!😄🤝",
          "title": "Tasky, a IA do marketing"
        }
      },
      "id": "c00d6ebe-2bd1-4b99-9964-1ffb8099ef05",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        420
      ],
      "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "da6e271f-fbf4-4ece-af63-7c808bf62308",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        740,
        900
      ],
      "credentials": {
        "supabaseApi": {
          "id": "AseF89FU4YywJoYu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "3b207742-d219-42ea-add5-2cf32e12f10c",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        380,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "AseF89FU4YywJoYu",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Atualização automatica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Atualização automatica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID manual": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ID manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "494bb5236eac2bd6edd2151fa9526abb0fbe27b7d9fa3d8da79dea7e6c47f4e2"
  }
}