chat_telegram_IA
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "c4af6538-6162-4817-a150-2e42b092b980",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        40
      ],
      "webhookId": "7b105fa9-3160-44c3-ba57-36288ef991e5",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "OW3tNHpHjHKoFNkf",
          "name": "Telegram-N8n"
        }
      }
    },
    {
      "parameters": {},
      "id": "a8bd837f-ce47-4bb3-83d4-535be3cdde57",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cd2bd97-cf1b-4fe9-9ab3-592fecdcbe0d",
              "leftValue": "={{$json[\"message\"][\"text\"]}}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6bd2480a-ccc2-4106-b089-000fdfb8e10a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        40
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "7cb08446-6435-4652-a801-340d9d450273",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2280,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "OW3tNHpHjHKoFNkf",
          "name": "Telegram-N8n"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo",
          "mode": "list",
          "cachedResultName": "Agendor Sindis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 381077841,
          "mode": "list",
          "cachedResultName": "base_telegram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo/edit#gid=381077841"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Grupo",
              "lookupValue": "Funil de Inbound"
            }
          ]
        },
        "options": {}
      },
      "id": "1d7b9eab-0d0e-46e5-ac49-3f6cb61044e9",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mnsjCxLtpfGHbqnI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Utilizando a base de dados a seguir: {{$items().map(item => `\nNome: ${item.json.Nome}\nContato: ${item.json.Contato}\nEmail: ${item.json.Email}\nStatus: ${item.json.Status}\nEtapa: ${item.json.Etapa}\nValor: ${item.json.Valor}\n`).join(\"\\n\")}}\n\nResponda à esta pergunta: \"{{ $('Telegram Trigger').item.json.message.text }}\"\n\nCaso não tenha relação com a base, seja algo como um 'oi','olá', etc ou algo assim, oriente-o a fazer uma pergunta sobre a base de dados. De também sugetões para ele melhorar a pergunta dele.",
        "options": {}
      },
      "id": "b828b74a-f7f1-407a-8de4-c20a1b0eaf04",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1900,
        140
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo",
          "mode": "list",
          "cachedResultName": "Agendor Sindis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 381077841,
          "mode": "list",
          "cachedResultName": "base_telegram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyTEYt64sx5sva1DZcqgNG3_-maOW78lEbCRkdHXsLo/edit#gid=381077841"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Grupo",
              "lookupValue": "Funil de Inbound"
            }
          ]
        },
        "options": {}
      },
      "id": "3b4d8f23-8254-43df-a358-98da3409eccd",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mnsjCxLtpfGHbqnI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Selecione uma opção abaixo",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Inbound",
                    "additionalFields": {
                      "callback_data": "Funil de Inbound"
                    }
                  },
                  {
                    "text": "Vendas",
                    "additionalFields": {
                      "callback_data": "Funil de Vendas"
                    }
                  },
                  {
                    "text": "Prospecção",
                    "additionalFields": {
                      "callback_data": "Funil de Prospecção."
                    }
                  },
                  {
                    "text": "CS/Receptivo",
                    "additionalFields": {
                      "callback_data": "Funil de CS/Receptivo"
                    }
                  },
                  {
                    "text": "Todos",
                    "additionalFields": {
                      "callback_data": "Todos"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "2452e2f9-ac35-47f5-9678-d4258dc320a1",
      "name": "Opções de resposta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        20
      ],
      "credentials": {
        "telegramApi": {
          "id": "OW3tNHpHjHKoFNkf",
          "name": "Telegram-N8n"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Este chat foi configurado para responder com base na planilha de demandas do Marketing. Envie sua pergunta!",
        "additionalFields": {}
      },
      "id": "b106c67a-13ea-49e5-a1dc-d7c059387c0a",
      "name": "Msg Inicial",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        -180
      ],
      "credentials": {
        "telegramApi": {
          "id": "OW3tNHpHjHKoFNkf",
          "name": "Telegram-N8n"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1766cfd1-65d5-4bb9-af00-659f9b44c92f",
                    "leftValue": "={{ $json.message.message_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensagem Inicial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b9008e5-eac1-48ea-b545-58ca84be2ec1",
                    "leftValue": "={{ $json.callback_query.message.message_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resposta"
            }
          ]
        },
        "options": {}
      },
      "id": "3152c16c-7a90-4bbb-84cf-e158e6e14b93",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        940,
        140
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b1091d5-31a7-4185-a72e-6ce4628a4f42",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89f0f055-1853-49e6-a8c0-0e46a06f8e12",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8d26bef1-a765-49ff-92ec-b9ea71b25141",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][2].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54b76dd5-33fd-4701-97f8-3aa499d3199e",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][3].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27d75647-e528-47dd-9e64-299d46c63db9",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][4].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "43abdeb0-85cf-4173-bd7a-c5fc5e67140f",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1240,
        220
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Msg Inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opções de resposta": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Inicial": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Opções de resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "update_id": 620085553,
        "callback_query": {
          "id": "243708052660873404",
          "from": {
            "id": 56742702,
            "is_bot": false,
            "first_name": "Daniel",
            "last_name": "Lourenço",
            "username": "xdanielsilva",
            "language_code": "pt-br"
          },
          "message": {
            "message_id": 21,
            "from": {
              "id": 7917641695,
              "is_bot": true,
              "first_name": "SindisAgendorbot",
              "username": "SindisAgendorbot"
            },
            "chat": {
              "id": 56742702,
              "first_name": "Daniel",
              "last_name": "Lourenço",
              "username": "xdanielsilva",
              "type": "private"
            },
            "date": 1732545754,
            "text": "Selecione uma opção abaixo\n\nThis message was sent automatically with n8n",
            "entities": [
              {
                "offset": 28,
                "length": 41,
                "type": "italic"
              },
              {
                "offset": 69,
                "length": 3,
                "type": "text_link",
                "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_494bb5236eac2bd6edd2151fa9526abb0fbe27b7d9fa3d8da79dea7e6c47f4e2"
              }
            ],
            "link_preview_options": {
              "is_disabled": true
            },
            "reply_markup": {
              "inline_keyboard": [
                [
                  {
                    "text": "Inbound",
                    "callback_data": "Funil de Inbound"
                  },
                  {
                    "text": "Vendas",
                    "callback_data": "Funil de Vendas"
                  },
                  {
                    "text": "Prospecção",
                    "callback_data": "Funil de Prospecção."
                  },
                  {
                    "text": "CS/Receptivo",
                    "callback_data": "Funil de CS/Receptivo"
                  },
                  {
                    "text": "Todos",
                    "callback_data": "Todos"
                  }
                ]
              ]
            }
          },
          "chat_instance": "3191686984108383142",
          "data": "Funil de Inbound"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "494bb5236eac2bd6edd2151fa9526abb0fbe27b7d9fa3d8da79dea7e6c47f4e2"
  }
}